<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BuyFy</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>IndexJSP</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>com.buyfy.servlet.LoginServ</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <filter>
    <filter-name>ValidateFilter</filter-name>
    <filter-class>com.buyfy.filter.ValidateFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.buyfy.filter.AdminFilter</filter-class>
  </filter>
  <filter>
    <filter-name>CheckoutFilter</filter-name>
    <filter-class>com.buyfy.filter.CheckoutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidateFilter</filter-name>
    <url-pattern>/my-order.jsp</url-pattern>
    <url-pattern>/my-cart.jsp</url-pattern>
    <url-pattern>/add-product.jsp</url-pattern>
    <url-pattern>/checkout.jsp</url-pattern>
    <url-pattern>/admin-dashboard.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/DisplayAllUsersServ</url-pattern>
    <url-pattern>/DisplayAllProductsServ</url-pattern>
    <url-pattern>/DisplayAllFeedback</url-pattern>
    <url-pattern>/admin-dashboard.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CheckoutFilter</filter-name>
    <url-pattern>/checkout.jsp</url-pattern>
  </filter-mapping>
</web-app>